# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# dont include plugin data to prevent overwrites
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude build generated docs
docs/reports/builds
docs/reports/codebase
docs/reports/complexity
docs/reports/coverage
docs/reports/e2e
docs/reports/tests

# Exclude complexity-report tool output
complexity/
docs/reports/build-endpoints.json

styles.css

*storybook.log
storybook-static

/components/
